<%= form_with(model: property) do |form| %>
 <%= render "layouts/validation", item: @property%>
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %><br>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %><br>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rooms %><br>
    <%= form.number_field :rooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :images %><br>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save Property", class: "btn-success" %>
  </div>
<% end %>
