<div class="container-fluid p-0" style="height: 100vh; display: flex; justify-content: center; align-items: center; background-image: url('https://images.unsplash.com/photo-1522241112606-b5d35a468795?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-size: cover; background-repeat: no-repeat;">
  <div class="p-4" style="padding-left: 20px; width: 30%;">
    <div class="card" style="background-color:#66AACC;">
      <div class="card-header text-center" style="background-color:pink;">
        <h2 class="text-primary" style="color: #CEACE6;">Book Appointments</h2>
      </div>
      <div class="card-body" style="background-color:pink">
  <div class="text-center">
    <%= form_with model: @appointment, url: appointments_path do |form| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :account_id, "Select Agents" %>
    <%= form.collection_select :account_id, @accounts, :id, :first_name %>
  </div>

  <div>
    <%= form.submit "Create Appointment" %>
  </div>
<% end %>

<%= link_to "Back", appointments_path %>

  </div>
</div>
    </div>
  </div>
</div>